*{
    margin:0;
    
}
body {
    width: 100%;
    
    margin: 0 auto;
    font-family: Satellite;
   
  }
h3{
    color: purple;
}
.m{
    width: 300px;
    height:200px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
}
#By{
    position:absolute; left:50px; top:60px;
}
#Bn{
    position:absolute; left:150px; top:60px;
}
input{
    background-color: purple;
    font-size: 20px;
    color: white;
    border-radius: 8px;
    margin-top: 30px;
    margin-right: 15px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    
}